# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/
.env

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db

# Redundant copy folders
sample dataset - Copy/
sample dataset - Copy - Copy/
